/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

  body { background: #f4f4f4; }
  .container { max-width: 740px; box-shadow: 0px 2px 5px rgba(0,0,0,0.25); background: #fff; margin: 0 auto; }
  
  p { color: #999; }
  
  h1 { margin: 20px 0 0; }
  h4.subhead { font-weight: lighter; color: #777; margin-bottom: 20px; }
  
  pre { -moz-border-radius: 5px; border-radius: 5px; -webkit-border-radius: 5px; margin: 0; display: block; font: 11px Monaco, monospace !important; padding: 15px; background-color: #1C1C1C; overflow: auto; color: #D0D0D0; line-height: 125%; margin-bottom: 30px; }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

form { margin: 15px 0 0 0; }

form.custom div.custom.dropdown a.selector { position: absolute; width: 27px; height: 28px; display: block; background: none; right: 0; top: 0; border: solid 1px #ddd; }



/*div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 */
div.dataTables_info {
    font-size: 15px;
    padding-top: 8px;
}
 
/*div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}*/

/* -----------------------------------------
   Page Name 2
----------------------------------------- */


